.profile-header {
    margin-bottom: 50px;
    padding-bottom: 0px;
}

.profile {
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;

    h2 {
        font-weight: 300;
        font-size: x-large;
    }

    img {
        size: 200px;
    }
}

.profile-content {
    margin-top: 0px;
    padding-top: 0px;

    ion-col {
      margin-top: 0px;
      padding-top: 0px;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }

    ion-card {
      margin-top: 0px;
      padding-top: 0px;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
}

.menu-items {
    margin: 0px;
    font-size: 24px;
    text-align: center;
    align-items: center;

    ion-item{
      margin-bottom: 10px;
    }

    ion-button {
      width: 100%;
      height: 40px;
      margin: auto;
    }
}

ion-icon {
  margin-right: 20px;
}

ion-avatar {
  margin: auto;
}
