<ion-content *ngIf="searchedUser">
  <ion-grid style="height: 100%; max-width: 1200px; min-width: 400px;">
    <ion-row justify-content-center align-items-center style="height: 20%" class="profile-header">
      <ion-col style="width: 1200px;">
        <ion-card class="profile">
          <ion-card-content>
            <ion-avatar>
              <ion-img [src]="searchedUser.photoURL" onerror="this.onerror=null;this.src='assets/user.png'"></ion-img>
            </ion-avatar>
            <ion-buttons class="shareProfile">
              <ion-button slot="end">
                <ion-icon name="share-social"></ion-icon>
              </ion-button>
            </ion-buttons>
            <h2>{{ searchedUser.username }}</h2>
            <h3>{{ searchedUser.email }}</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <div *ngIf="(loggedinUser && searchedUser.isPublic) || loggedinUser === searchedUser.uid">
      <ion-row justify-content-center align-items-center style="height: 80%" class="profile-content">
        <ion-col style="width: 600px;">
          <ion-card style="margin-top: 20px;">
            <ion-card-header>
              <ion-card-title><ion-icon name="stats-chart"></ion-icon>Statistics</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                Total number of {{ searchedUser.username }}'s public files: {{ publicFiles.length }}
              </ion-item>
              <ion-item>
                Total MB of {{ searchedUser.username }}'s public files: 3.48 MB
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col style="width: 600px;">
          <ion-card style="margin-top: 20px;">
            <ion-card-header>
              <ion-card-title><ion-icon name="document"></ion-icon>{{ searchedUser.username }}'s public files</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div *ngIf="platformType === 'desktop'">
                <div *ngFor="let file of publicFiles">
                  <ion-item>
                    <ion-icon name="document"></ion-icon>
                    <ion-label (click)='clickItem(file)'>
                      {{ file.name }}
                    </ion-label>
                    <ion-buttons slot="end">
                      <ion-button (click)='clickDownload(file)'>
                        <ion-icon name="cloud-download-outline" slot="start"></ion-icon>
                      </ion-button>
                      <ion-button (click)='clickShare(file)'>
                        <ion-icon name="share-social"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-item>
                </div>
              </div>
              <div *ngIf="platformType === 'android'">
                <ion-item-sliding *ngFor="let file of publicFiles">
                  <ion-item (click)="clickItem(file)">
                    <ion-icon name="document"></ion-icon>
                    <ion-label text-wrap>
                      {{ file.name }}
                    </ion-label>
                  </ion-item>
                  <ion-item-options side="end" (click)='clickDownload(file)'>
                    <ion-item-option color="primary">
                      <ion-icon name="cloud-download-outline" slot="icon-only"></ion-icon>
                    </ion-item-option>
                    <ion-item-option side="end" (click)='clickShare(file)'>
                      <ion-icon name="share-social" slot="icon-only"></ion-icon>
                    </ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="(loggedinUser && !(searchedUser.isPublic)) && loggedinUser !== searchedUser.uid">
      <ion-col style="width: 600px;">
        <ion-card>
          <ion-card-header>
            <ion-card-title><ion-icon name="lock-closed"></ion-icon>This user profile is private!</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>
              Ask the user to set profile to public
            </ion-label><br>
            <ion-button>
              <ion-icon name="mail"></ion-icon>
              <ion-label>
                <a [href]="emailString" style="text-decoration: none; color: white;">Send an email</a>
              </ion-label>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </div>
    <div *ngIf="!loggedinUser">
      <ion-col style="width: 600px;">
        <ion-card>
          <ion-card-header>
            <ion-card-title><ion-icon name="lock"></ion-icon>You aren't logged in</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              Please login to see other users profile
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </div>
  </ion-grid>
</ion-content>
