<ion-content fixed>
  <ion-grid style="height: 100%; max-width: 1200px; min-width: 400px;">
    <ion-row justify-content-center align-items-center style="height: 80%" class="profile-header">
      <ion-col style="width: 1200px;">
        <ion-card>
          <ion-card-header>
            <ion-img src="assets/icon/favicon.png" style="height: 120px;"></ion-img>
            <ion-card-title>Üdvözöllek a ClouDocs-ban!</ion-card-title>
            <h4>Keresztplatformos alkalmazás fejlesztése nagy fájlok kezelésére felhőben</h4>
            <h3>2021</h3>
          </ion-card-header>
          <ion-card-content>
            <p>Fodor Beáta vagyok, végzős programtervező informatikus hallgató a Szegedi Tudományegyetem Természettudományi és Informatikai Karán.</p><br>
            <p>Ez az applikáció a szakdolgozatom témáját implementáló alkalmazás.</p>
            <p>A lokálisan tárolt fájljaink, beleértve a nagyméretű fájlokat is, feltöltését, és felhőben való kezelését valósítja meg.</p><br>
            <p>A fejlesztéshez <a href="https://angular.io/">Angular</a>-t (v11.2) és <a href="https://ionicframework.com/">Ionic</a>-ot (v5) használtam, <a href="https://cordova.apache.org/">Cordova</a> pluginokkal kiegészítve.</p>
            <p>A fájlok tárolását és a backend folyamatokat kezelését a Firebase valósítja meg.</p><br><br>
            <div>
              <p>Készítő:</p>
              <ion-chip><ion-avatar><img src="assets/me.jpg"></ion-avatar><ion-label>Fodor Beáta</ion-label></ion-chip><br>
              <p>Témavezető:</p>
              <ion-chip><ion-avatar><img src="assets/bilickiv.jpg"></ion-avatar><ion-label>Dr. Bilicki Vilmos</ion-label></ion-chip><br><br>
            </div>
            <p style="text-align: center;">Kipróbáláshoz regisztrálj <a style="text-decoration: none;" routerLink='../registration'>itt</a>!</p><br>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
