#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-card-header {
  text-align: center;
}

ion-card-content {
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 80px;

  p{
    color: rgba(255, 255, 255, 0.801);
    font-size: medium;
  }

  div {
    text-align: right;


  }
}
