.signinbtn {
  position: relative;
  margin-top: 15px;
  text-align: center;
}

.googlebtn {
  position: relative;
  margin-top: 10px;
  text-align: center !important;
}

.text {
  position: relative;
  margin-top: 30px;
  text-align: center;
   a{
      text-decoration: none;
   }
}

ion-card-title {
  text-align: center;
}

ion-card-subtitle {
  text-align: center;
}

[fixed] {
  height: 80%;
}
